* {
  margin: 0;
  padding: 0;
}

body {
    background-image: url('img2.jpg'); /* Apni image ka sahi naam likhein */
    background-size: cover;       /* Image ko poori screen par phelane ke liye */
    background-position: center;  /* Image ko center mein rakhne ke liye */
    background-attachment: fixed; /* Scroll karne par background wahin rahega */
    background-repeat: no-repeat; /* Image repeat nahi hogi */
}




/* Main ko relative rakhen taake text iske andar hi rahe */
.main {
  position: relative;
  width: 100%;
  max-width: 600px; /* Aap apni marzi se size set kar sakte hain */
}

.logo{
  color: #ff7200;
  font-size: 35px;
  font-family: arial;
  padding-top: 10px;
  padding-left: 20px;
  float: left;
}
.menu {
  
  width: 10px;
  height: 10px;
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
}
ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
ul li{
  list-style: none;
  font-size: 18px;
  margin-left: 62px;
  margin-top: 20px;
}
ul li a{
  text-decoration: none;
  font-weight: bold;
  font-family: arial;
  color: #000;
  transition: 0.4s ease-in-out;
}
ul li a:hover{
  color:#ff7200;
}
.search{
  display: flex;
  align-items: center;
  width: auto;
  margin: 0;
  margin-left: 850px;
}


.srch{
  width: 300px;
  height: 30px;
  font-family: "Time New Roman";
  background: transparent;
  border: 2px solid #ff7200;
  color: #000;
  font-size: 16px;
  margin: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn{
  width: 50px;
  height: 30px;
  margin-left: 10px;
  color: #000;
  background-color: #ff7200;
  border: 2px solid #ff7200;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}
.content{
  width: 500px;
  height: auto;
  margin: auto;
  color: #000;
  position: relative;
}
.content h1{
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  margin-top: 9%;
  letter-spacing: 2px;
  padding-left: 20px;
}
.content p{
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}
.content .cn{
  width: 100px;
  height: 50px;
  background: #ff7200;
  border: none;
  margin-left: 20px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s ease;
}
.content .cn a{
  text-decoration: none;
  color: #000;
  transition: .3s ease;
  
}
.content .cn:hover{
  background-color: #000;
}
.content span{
  color: #ff7200;
  font-size: 60px;
}
.form {
  width: 250px;
  height: 400px;
  background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
  position: absolute;
  top: 100px;
  left: 820px;
  border-radius: 10px;
  padding: 25px;
}
.form h2{
  width: 220px;
  font-family: sans-sarif;
  text-align: center;
  color: #ff7200;
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
  
}
.form input{
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ff7200;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  font-family: sans-sarif;
  letter-spacing: 1px;
  margin-top: 30px;
}
.form input:focus{
  outline: none;
}
::placeholder{
  color: #fff;
  font-family: arial;
}
.btnn{
  width: 240px;
  height: 40px;
  background-color: #ff7200;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
}
.btnn:hover{
  background-color: #fff;
  color: #ff7200;
}
.btnn a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.form .link{
  font-family: arial,sans-sarif;
  font-size: 18px;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}
.form .link a{
  text-decoration: none;
  color: #ff7200;
}
.liw{
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
}
.icons a{
  color: #fff;
  text-decoration: none;
}
.icons ion-icon{
  color: #fff;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 5px;
  transition: 0.3s ease;
}
.icons ion-icon:hover{
  color: #ff7200;
}